body, .bg-dark {
  background-color: black!important;
}

#input-n {
  color: white;
}

.list-group-item {
  background-color: #111;
  color: #bbb;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  font-size: 0.95rem;
}

#results {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

h6 {
  color: #73f0ff;
  font-size: 0.9rem;
  cursor: pointer;
}

h6:hover {
  color: #cdff1a;
}

.at {
  opacity: 0.1;
}

.copied {
  color: #555;
  margin-left: 0.5rem;
}

@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadein { from { opacity:0; } to { opacity:1; } }
