body, .bg-dark {
  background-color: black!important;
}

#input-n {
  color: white;
}

.list-group-item {
  background-color: #111;
  color: #bbb;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  font-size: 0.95rem;
}

h6 {
  color: #73f0ff;
  /*color: #cdff1a;*/
  font-size: 0.9rem;
}

